body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: #f8f8ff;
}

/* NAV */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 18px 40px;
  background: #7600bc;
  color: white;
  position: sticky;
  top: 0;
}

.navbar a {
  color: #e8e8e8;
  margin-left: 20px;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  color: white;
  font-weight: bold;
}

.logo {
  margin: 0;
}

/* SECTIONS */
.section {
  padding: 50px 60px;
}

.section-title {
  text-align: center;
  font-size: 42px;
  color: #7600bc;
  margin-bottom: 40px;
  font-weight: bold;
}

/* ABOUT */
.about-section {
  display: flex;
  align-items: center;
  gap: 40px;
}

.profile-pic {
  width: 280px;
  border-radius: 12px;
}

.highlight { color: #7600bc; }

.about-text p {
  color: #555;
  font-size: 18px;
}

/* SKILLS */
.skills-grid {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-card {
  background: white;
  border-radius: 8px;
  width: 140px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.skill-card img {
  width: 40px;
}

/* PROJECTS */
.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}

.project-card {
  width: 330px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.project-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.project-link {
  display: inline-block;
  margin-top: 10px;
  color: #7600bc;
  font-weight: bold;
  text-decoration: none;
}

/* Certifications */
.cert-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.cert-card {
  width: 260px;
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  text-align: center;
}

.cert-card img {
  width: 100%;
  border-radius: 8px;
}

/* CONTACT */
.contact-section {
  text-align: center;
  font-size: 18px;
}

/* Scroll top */
.scroll-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: #7600bc;
  color: white;
  padding: 12px;
  border-radius: 50%;
  font-size: 26px;
  text-decoration: none;
}
/* EDUCATION */
.education-section {
  padding-top: 50px;
}

.edu-card {
  display: flex;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  width: 85%;
  max-width: 800px;
  margin: 20px auto;
  gap: 20px;
}

.edu-logo {
  width: 70px;
  height: 70px;
  object-fit: contain;
  border-radius: 8px;
}

.edu-card h3 {
  margin: 0;
  color: #7600bc;
  font-size: 22px;
}

.degree {
  margin: 3px 0;
  color: #444;
  font-size: 16px;
}

.edu-duration,
.edu-grade {
  margin: 3px 0;
  color: #666;
  font-size: 14px;
}
